<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd"
	   default-init-method="myInit"
	   default-destroy-method="myDestroy"  
>

    <bean id="triangle" 
    	class="app6.Triangle"
    	autowire="byName"
    	/>
    	
    <bean id="pointA" class="app6.Point" >
          <property name="x" value="0"/>
          <property name="y" value="0"/>
    </bean>
    <bean id="pointB" class="app6.Point" >
          <property name="x" value="0"/>
          <property name="y" value="20"/>
    </bean>
    <bean id="pointC" class="app6.Point" >
          <property name="x" value="20"/>
          <property name="y" value="0"/>
    </bean>
</beans>
                